@charset 'utf-8';
/*core.css*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

img {
    border: none;
}

a {
    color: #2f2f2f;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

ul::after,
ol::after,
.cbl::after{
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
strong {
    font-style: normal;
    font-weight: normal;
}

.ir {
    display: block;
    overflow: hidden;
    text-indent: -9999%;
    font-size: 1px;
}

@font-face {
    font-family: 'NBG';
    src: url('../resorces/font/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'BMJ';
    src: url('../resorces/font/BMJUA.ttf') format('truetype');
}

html,
body {
    font-size: 100px;
    font-family: 'NBG',sans-serif;
    color: #2f2f2f
}

/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-image: url('../resorces/img/radio.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

input[type="radio"]:checked{
    background-image: url('../resorces/img/radio-on.svg');
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url('../resorces/img/checkbox.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

input[type="checkbox"]:checked{
    background-image: url('../resorces/img/checkbox-checked.svg');
}

input[type="buttom"],
input[type="submit"] {
    position: absolute;
    right: 0; 
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 7px;
    background-color: #FCF695;
    font-size: .21rem;
    font-weight: bold;
    color: #E88946;
}

/* Select box 스타일 초기화 */ 
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
    background: #fff url('../resorces/img/dropdown-select.svg') no-repeat 95% center;
}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }