@charset 'utf-8';
/*main.css*/

@import url(./core.css);
@import url(./common.css);

#pageTitle {
    color: #662D05;
    font-size: .56rem;
    font-family: 'BMJ';
}

#pageTitle h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.ranking-list {
    clear: both;
    border-bottom: 1px solid #E7660B;
}

.rankItem {
    float: left;
    margin-bottom: 30px;
    margin-right: 1%;
    margin-left: 1%;
    width: 48%;
}

#rank-1{
    width: 98%;
}

.rankItem .item-img img {
    position: absolute;
    width: 80px;
    left: 10px;
    top: 10px;
}

.score {
    position: absolute;
    color: #E7660B;
    font-size: .37rem;
    right: 10px;
    top: 10px;
    width: 70px;
    height: 70px;
    background: #fffff0;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
}

.score b {
    font-size: .24rem;
}

#shopList {
    margin: 0 auto;
    margin-top: 30px;
}

#shopList .itembox {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 30px;
    max-width: 360px;
}