@charset 'utf-8';
/*main.css*/

@import url(./core.css);
@import url(./common.css);

.banner-list {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.banner-list li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px hsla(210, 6%, 33%, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: .42rem;
    font-family: 'BMJ';
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.banner-list li:nth-child(1) {
    background-image: url(../resorces/img/main_banner.png);
    background-size: contain;
}

.banner-list li.on {
    opacity: 1;
    z-index: 1;
}

.banner-list li a {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 50%;
    color: #FFFFF0;
}

#main-banner-bulit {
    position: absolute;
    display: block;
    left: 5vw;
    bottom: 25px;
    z-index: 9;
}

#main-banner-bulit li {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #f2f2f2;
    opacity: .7;
}

#main-banner-bulit li a {
    display: block;
    width: 100%;
    height: 100%;
}

#main-banner-bulit li:hover,
#main-banner-bulit li.on{
    opacity: 1;
}

.baner-arow {
    right: 5vw;
    bottom: 32px;
}

#theme-box {}

#theme-box .item-cont > .item-time::before {
    content: url(../resorces/img/time.png);
    margin-right: 10px;
    vertical-align: -3px;
}

#local-box {}

#local-box .item-img {
    height: 65%;
}

#local-box .item-cont {
    height: 35%;
}