<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.5">
    <title>오리크림빵</title>
    <link rel="stylesheet" href="./css/main.css">
    <!--<script src="js/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/component.js"></script>
    <script src="js/read.js"></script>
    <script src="js/calc-width.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <header id="top">
        <page-header></page-header>
    </header>
    <main id="main">
        <section class="banner">
            <ul class="banner-list" id="main-banner-list">
                <li v-for="item in thatData" :key="item.id" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }"><a href="#">{{ item.title }}</a></li>
            </ul>
            <ul id="main-banner-bulit">
                <li v-for="index in thatData" ref="bulitItem"><a href="#" class="ir">{{ index }}</a></li>
            </ul>
            <div class="arow-list baner-arow">
                <a class="prev arow baner-btn" href="#">&lt;</a>
                <a class="next arow baner-btn" href="#">&gt;</a>
            </div>
        </section>
        <section class="section-box list-theme content">
            <div class="section-topbox">
                <h2 class="section-title">테마</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist theme-box" id="theme-box" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in thatData" :key="item.id">
                        <div class="item-img" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }">
                            <a class="ir" href="#">{{ item.title }}</a>
                        </div>
                        <div class="item-cont">
                            <h3><a href="#">{{ item.title }}</a></h3>
                            <p>{{ item.msg }}</p>
                            <span class="item-time">{{ item.time }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-box list-local content">
            <div class="section-topbox">
                <h2 class="section-title">지역</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist local-box" id="local-box" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in thatData" :key="item.id">
                        <div class="item-img" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }">
                            <a class="ir" href="#">{{ item.wide }} {{ item.basic }}</a>
                        </div>
                        <div class="item-cont">
                            <h3><a href="#">{{ item.wide }} {{ item.basic }}</a></h3>
                            <p>{{ item.msg }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-box list-bakery content">
            <div class="section-topbox">
                <h2 class="section-title">빵집</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist shop-box" id="shop-box-bakery" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in filteredData" :key="item.id">
                        <div class="item-img" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }">
                            <a class="ir" :href="'./shopInfo.htm?sid='+item.id">{{ item.title }}</a>
                        </div>
                        <div class="item-cont">
                            <h3><a :href="'./shopInfo.htm?sid='+item.id">{{ item.title }}</a></h3>
                            <p>{{ item.msg }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-box list-dessert content">
            <div class="section-topbox">
                <h2 class="section-title">디저트</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist shop-box" id="shop-box-dessert" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in filteredData" :key="item.id">
                        <div class="item-img" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }">
                            <a class="ir" :href="'./shopInfo.htm?sid='+item.id">{{ item.title }}</a>
                        </div>
                        <div class="item-cont">
                            <h3><a :href="'./shopInfo.htm?sid='+item.id">{{ item.title }}</a></h3>
                            <p>{{ item.msg }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id='info'>
        <page-footer></page-footer>
    </footer>
</body></html>
