<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.5">
    <title>오리크림빵</title>
    <link rel="stylesheet" href="./css/shopInfo.css">
    <!--<script src="js/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=if39vlv1q4&submodules=geocoder"></script>
    <script src="js/component.js"></script>
    <script src="js/read.js"></script>
    <script src="js/calcSize.js"></script>
    <script src="js/shopInfo.js"></script>
</head>

<body>
    <header id="top">
        <page-header></page-header>
    </header>
    <main id="main">
        <!--정보 전달 박스-->
        <div id="shopInfo">
            <section class="banner">
                <div class="shop-top" id="shop-top" :style="{ backgroundImage: 'url(./resorces/img/' + findedData.img + ')' }">
                    <span class="ir">{{ findedData.title }} 전경 이미지</span>
                    <div id="shop-head">
                        <div class="title_msg">
                            <h2 id="shop-title">{{ findedData.title }}</h2>
                            <p id="shop-msg">{{ findedData.msg }}</p>
                        </div>
                        <div class="like_review">
                            <a href="#" id="like-btn" :class="{ on: isLike }" class="ir" v-on:click="likeShop">단골 등록 버튼</a>
                            <a href="#" id="review-btn" class="ir" v-on:click="reviewShop">리뷰 작성 버튼</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-box content" id="shop-summ">
                <div class="section-topbox">
                    <h2 class="section-title">개요</h2>
                </div>
                <ul id="shop-summbox">
                    <li>
                        <h4>주소</h4><span>{{ findedData.address }}</span>
                    </li>
                    <li>
                        <h4>전화번호</h4><span>{{ findedData.tel }}</span>
                    </li>
                    <li>
                        <h4>종류</h4>
                        <span v-if="findedData.sort === 0">
                            빵집
                        </span>
                        <span v-else-if="findedData.sort === 1">
                            디저트
                        </span>
                    </li>
                    <li>
                        <h4>가격대</h4><span>{{ findedData.price }}원 대</span>
                    </li>
                    <li>
                        <h4>주차</h4><span>{{ findedData.parking }}</span>
                    </li>
                    <li>
                        <h4>영업시간</h4><span>{{ findedData.opentime }} - {{ findedData.closetime }}</span>
                    </li>
                    <li>
                        <h4>휴일</h4><span>{{ findedData.closeday }}</span>
                    </li>
                </ul>
                <ul id="page-section-btn">
                    <li><a href="#shop-menu">메뉴</a></li>
                    <li><a href="#shop-review">방문자 리뷰</a></li>
                    <li><a href="#shop-map">지도</a></li>
                </ul>
            </section>
        </div>
        <!--메뉴 영역-->
        <section class="section-box content" id="shop-menu">
            <div class="section-topbox">
                <h2 class="section-title">메뉴</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist menu-box" id="menu-box" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in findedData.menu" :key="item.mid">
                        <div class="item-img" :style="{ backgroundImage: 'url(./resorces/img/' + item.img + ')' }">
                            <span class="ir">{{ item.name }}</span>
                        </div>
                        <div class="item-cont">
                            <h3>{{ item.name }}</h3>
                            <p>{{ item.msg }}</p>
                            <span>₩{{ item.price }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--리뷰 영역-->
        <section class="section-box content" id="shop-review">
            <div class="section-topbox">
                <h2 class="section-title">방문자 리뷰</h2>
            </div>
            <div class="section-mainbox">
                <ul class="section-mainlist review-box" id="review-box" :style="{ width: thatWidth + 'px' }">
                    <li class="itembox theme" v-for="item in findedData.review" :key="item.rid">
                        <div class="item-cont">
                            <div class="item-titlebox">
                                <h3>@{{ item.user }}</h3>
                                <h4><b>{{ item.score }}</b>점</h4>
                            </div>
                            <p>{{ item.comment }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--지도 영역-->
        <section class="section-box content" id="shop-map">
            <div class="section-topbox">
                <h2 class="section-title">지도</h2>
            </div>
            <div class="section-mainbox">
                <div id="mapbox" class="ir">
                    지도 {{ findedData.address }}
                </div>
                <div id="transitbox">
                    <h3>대중교통</h3>
                    <h4>버스</h4>
                    <ul id="busList">
                        <li v-for="item in findedData.transit.bus">{{ item }}</li>
                    </ul><br>
                    <h4>지하철</h4>
                    <ul id="metroList">
                        <li v-for="item in findedData.transit.metro">{{ item }}</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer id='info'>
        <page-footer></page-footer>
    </footer>
    <!--리뷰 업로드 폼-->
    <div id="rvf-wrap">
        <transition name="fade">
            <div class="review-form" v-show="isActive">
                <form action="reviewPost.php" id="review-form">
                    <a href="#" id="close-rvf" v-on:click="closeForm">x</a>
                    <div class="reviewTopBox">
                        <h3 class="user-name">@율</h3>
                        <div class="reviewScoreInput">
                            <label for="reviewScoreInput">점수</label>
                            <select name="review-score" id="reviewScoreInput">
                                <option value="">점수</option>
                                <option value="1">1점</option>
                                <option value="2">2점</option>
                                <option value="3">3점</option>
                                <option value="4">4점</option>
                                <option value="5">5점</option>
                                <option value="6">6점</option>
                                <option value="7">7점</option>
                                <option value="8">8점</option>
                                <option value="9">9점</option>
                                <option value="10">10점</option>
                            </select>
                        </div>
                    </div>
                    <div class="reviewBottomBox">
                        <div class="reviewTextInput">
                            <label for="reviewTextInput">리뷰</label>
                            <textarea form="review-form" id="reviewTextInput"></textarea>
                        </div>
                        <input type="submit" id="review-submit" value="등록">
                    </div>
                </form>
            </div>
        </transition>
    </div>
</body></html>
